:root {
    --db-banner: #1B72E8;
    --db-sidebar: #051E34;
    --db-badge: #165BBA;
}

.logo_small img {
    width: 50px;
}

header {
    height: 60px;
}

#sidebar {
    background-color: var(--db-sidebar);
    background-image: url(../img/sidebar-bg.png);
    width: 150px;
    height: calc(100vh - 60px);
}

#main_page {
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

#main_page::-webkit-scrollbar {
    display: none;
}

.banner {
    width: calc(100vw - 150px);
}

.banner .badge {
    background-color: var(--db-badge)!important;
    font-size: .6rem;
}

.ms_canvas {
    width: 40%!important;
}

.content {
    font-size: .8rem;
}

#main_page .table img {
    width: 30px;
}

@media screen and (max-width: 1199px) {

    #sidebar {
        width: 75px;
        text-align: center;
    }  
    
    .banner {
        width: calc(100vw - 75px);
    }

    .table_name {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {

    .table_name {
        width: auto;
    }
    
    .ms_canvas {
        width: 100%!important;
    }
}

